.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: var(--margin-y-10);
}

.input-wrapper label {
    margin-bottom: 5px;
    font-weight: 500;
}

.input-with-icon {
    display: flex;
    align-items: center;
    background: #fefefe;
    border: var(--border-default);
    border-radius: var(--border-radius-default);
    box-shadow: var(--box-shadow-default);
    padding: 0 10px;
    height: var(--height-input-and-button);
}

.input-with-icon .input-icon {
    margin-right: 8px; 
    display: flex;
    align-items: center;
}

.input-with-icon input {
    flex: 1; 
    border: none;
    outline: none;
    font-size: var(--font-size-m);
    background: transparent;
    height: 100%;
}
