.details-container {
  padding: var(--padding-l);
  max-width: var(--request-details-width);
  margin: 0 auto;
}

.details-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  align-items: start;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 900px) {
  .details-grid {
    grid-template-columns: 1fr;
  }
}