.separator-with-text {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.separator-with-text .separator-line {
  flex: 1; /* line expands to fill space */
  height: 1px;
  background-color: rgb(236, 236, 236);
}

.separator-with-text .separator-text {
  margin: 0 10px; /* space between line and text */
  color: #999;
  font-size: 14px;
  white-space: nowrap; /* prevent text from wrapping */
}
