.login-form {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: var(--border-default);
    border-radius: var(--border-radius-default);
    box-shadow: var(--box-shadow-default);
    padding-top: 30px;
}

.login-form .login-form-title {
    margin: var(--margin-y-10);
}

.login-form .login-form-subtitle {
    color: var(--text-color-secondary);
    text-align: center;
    max-width: 70%;
}

.login-form .login-form-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(236, 236, 236);
    color: var(--text-color-secondary);
    width: 100%;
    height: 50px;
    margin-top: 30px;
    gap: var(--gap-10, 10px);
}