.clickable-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-10, 10px); 
  padding: 10px 15px;
  border-radius: var(--border-radius-default);
  background-color: #f9f9f9;
  color: var(--text-color-primary);
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s, transform 0.1s;
  border: 1px solid rgba(0, 0, 0, 0.05);
  
  width: 80%;
  margin: 20px auto 0 auto; 
}

.clickable-card-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; 
}

.clickable-card-text {
  margin: 0;
  font-weight: 500;
}

.clickable-card:hover {
  background-color: #f0f0f0;
  box-shadow: var(--box-shadow-default);
  transform: translateY(-1px); 
}

.clickable-card:active {
  transform: translateY(0);
}
