.deadline-ui {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    margin: var(--margin-y-10);
    font-family: inherit;
}

.deadline-ui label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: var(--font-size-m);
}

.deadline-ui input[type="date"] {
    background: #fff;
    border: var(--border-default);
    border-radius: var(--border-radius-default);
    box-shadow: var(--box-shadow-default);
    height: 32px;
    padding: 0 12px;
    font-size: var(--font-size-m);
    outline: none;
    transition: all 0.2s ease;
    cursor: pointer;
}

.deadline-ui input[type="date"]:focus {
    border-color: var(--color-primary);
    box-shadow: var(--box-shadow-default);
}
