.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: var(--margin-y-10);
    position: relative; /* Necesar pentru poziționarea iconiței */
}

.input-wrapper label {
    margin-bottom: 5px;
    font-weight: 500;
}

.input-with-icon {
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;
    border-radius: var(--border-radius-default);
    height: var(--height-input-and-button);
    border: var(--border-default);
}

.input-with-icon:focus-within {
    border: none;
}

.input-with-icon input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: var(--border-radius-default);
    box-shadow: var(--box-shadow-default);
    font-size: var(--font-size-m);
    padding: 0 10px; 
    box-sizing: border-box;
    outline: none;
}

.input-with-icon .input-icon {
    position: absolute;
    left: 10px;
    display: flex;
    align-items: center;
    pointer-events: none; 
    z-index: 1;
}

.input-with-icon input:focus {
    outline: none;
    border: 1px solid var(--color-primary) !important;
}