.textarea-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: var(--margin-y-10);
}

.textarea-wrapper label {
    margin-bottom: 5px;
    font-weight: 500;
}

textarea {
    border: var(--border-default);
    border-radius: var(--border-radius-default);
    box-shadow: var(--box-shadow-default);
    min-height: 230px;
    max-height: 300px;
    min-width: 100%;
    max-width: 100%;
    font-size: var(--font-size-m);
    padding: 10px;
}

.input-with-icon .input-icon {
    margin-right: 8px; 
    display: flex;
    align-items: center;
}

.input-with-icon input {
    flex: 1; 
    border: none;
    outline: none;
    font-size: var(--font-size-m);
    background: transparent;
    height: 100%;
}
