.empty-files-section {
  background: white;
  border: var(--border-default);
  border-radius: var(--border-radius-default);
  padding: var(--padding-details-card);
  box-shadow: var(--box-shadow-default);
}