.files-section {
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: 800px;
}

.section-header {   
    margin-bottom: var(--margin-y-10, 15px);
}

.files-container {
    display: flex;
    flex-direction: column;
}

.files-stack {
    display: flex;
    flex-direction: column;
    gap: 8px;
}