.dashboard-container {
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

.dashboard-content {
  flex: 1;
  background-color: var(--background);
  padding: var(--padding-l);
  overflow-y: scroll;
  max-height: 100vh;
  scroll-behavior: smooth;
}


.back-link {
  color: #718096;
  text-decoration: none;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  display: inline-block;
  transition: color 0.2s;
}

.back-link:hover {
  color: var(--color-primary);
}

.overview-p {
  color: var(--text-color-secondary);
  margin: var(--margin-y-10);
}

.details-container {
  padding: var(--padding-l);
  max-width: var(--request-details-width);
  margin: 0 auto;
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 2rem;
  align-items: start;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 900px) {
  .details-grid {
    grid-template-columns: 1fr;
  }
}

.objects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 640px) {
  .objects-grid {
    grid-template-columns: 1fr;
  }
}

.details-card {
  background: white;
  border: var(--border-default);
  border-radius: var(--border-radius-default);
  padding: var(--padding-details-card);
  box-shadow: var(--box-shadow-default);
}
