.dashboard-container {
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

.dashboard-content {
  flex: 1;
  background-color: var(--background);
  padding: var(--padding-l);
  overflow-y: scroll;
  max-height: 100vh;
  scroll-behavior: smooth;
}